#rightPanelBar {
    @import "./panels/objectPropertiesPanel";
    @import "./panels/graphicalPropertiesPanel";

    .content {
        .react-page-split__divider--vertical {
            cursor: row-resize;
            height: 1px;
            border-top: 5px solid $white;
            border-bottom: 5px solid $white;
            background: $dark;
        }

        overflow-x: scroll;
        background-color: $white;
        width: 100%;
    }

    // position: absolute;
    // top: 0;
    // right:0;
    // bottom: 0;
    display:flex;
    align-items:stretch;
    width: $rightPanelWidth;
    min-width: $rightPanelWidth;
    max-width: $rightPanelWidth;
    border-left:1px solid $black;
}