#workspace {
    .canvas-container {
        width: 100%;
        height: 100%;
        overflow: scroll;

        #canvas {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            touch-action: none;
            user-select: none;
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            pointer-events: unset;
            // background-color: $white;

            &.drag {
                cursor: move;
            }

            svg {
                // height: 100%;
                // width: 100%;
                // margin: 0;
                // display: block;


                touch-action: none;
                user-select: none;
                -webkit-user-select: none;
                -webkit-touch-callout: none;
                pointer-events: unset;

                // position: relative;
                // display: block;
                // height: 100%;
                // width: 100%;
                // margin: 0;

                [role="shape"].selected {
                    // outline: 2px solid black;
                    // box-shadow: 0 0 0 3px #e78267;
                    // -webkit-filter: drop-shadow(3px 3px 2px $blue);
                    // filter: drop-shadow(3px 3px 2px $blue);
                    filter: drop-shadow(1px 0 0 $white) drop-shadow(-1px 0 0 $white) drop-shadow(0 1px 0 $white) drop-shadow(0 -1px 0 $white) drop-shadow(1px 0 0 $blue) drop-shadow(-1px 0 0 $blue) drop-shadow(0 -1px 0 $blue) drop-shadow(0 1px 0 $blue);
                }

                [role="shape"]:focus {
                    outline: none !important;
                }

                #controls {
                    #selectionContour {
                        stroke: $blue;
                        stroke-width: 2px;
                        fill: $blue;
                    }

                    #scaleControls {
                        [data-control] {
                            outline: none;
                        }

                        [data-control="top"],
                        [data-control="right"],
                        [data-control="bottom"],
                        [data-control="left"] {
                            stroke-width: 8;
                        }

                        [data-control="top"],
                        [data-control="bottom"] {
                            cursor: n-resize;
                        }

                        [data-control="right"],
                        [data-control="left"] {
                            cursor: e-resize;
                        }

                        [data-control="left-top"],
                        [data-control="right-bottom"],
                        [data-control="right-top"],
                        [data-control="left-bottom"] {
                            fill: $blue;
                            stroke-width: 2px;
                        }

                        [data-control="left-top"],
                        [data-control="right-bottom"] {
                            cursor: nwse-resize;
                        }

                        [data-control="right-top"],
                        [data-control="left-bottom"] {
                            cursor: nesw-resize;
                        }
                    }

                    #rotateControl {
                        [data-control="rotate"] {
                            cursor: pointer;
                            outline: none;
                            stroke: $blue;
                            fill-opacity: 0;
                            stroke-width: 1.5;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                        }
                    }

                }

            }
        }

        .scale-slider {
            position: fixed;
            bottom: 3%;
            right: calc($rightPanelWidth + 1%);
        }

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &~.react-page-split__divider--horizontal {
        display: none;
    }

    width: 100%;
    background-color: #ccc;
    overflow: hidden;
}