// @use '_variables' as v;

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    margin: 0;
}

body {
    margin: 0;
}

@property --thumb-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@keyframes scrollFadeIn {
    0% {
        --thumb-color: #fff;
    }

    100% {
        --thumb-color: #aaa;
    }
}

@keyframes scrollFadeOut {
    0% {
        --thumb-color: #aaa;
    }

    100% {
        --thumb-color: #fff;
    }
}

@mixin custom-scrollbar {
    scrollbar-color: $blue $background;
    scrollbar-width: thin;
    animation: scrollFadeOut .5s forwards;

    ::-webkit-scrollbar {
        width: 16px;
        position: absolute;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 40px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 40px;
        border: 5px solid transparent;
        background-clip: content-box;
        background-color: var(--thumb-color);
    }

    &:hover {
        animation: scrollFadeIn .2s ease forwards;
    }
}

@mixin button-default {
    display: inline-block;
    font-weight: 700;
    color: #444;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .6875rem 1rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

#plug {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #444;
    z-index: 100;
    height: 100vh;

}

@media all and (max-width:1200px) {
    html {
        overflow-y: hidden;
    }

    .App {
        display: none
    }

    #plug {
        display: flex !important;
    }
}

@media all and (max-height:500px) {
    html {
        overflow-y: hidden;
    }

    .App {
        display: none;
    }

    #plug {
        display: flex !important;
    }
}