@use '_variables' as v;
@use 'global' as g;

#projectPage {
    main {

        #leftPanelBar {
            .content {
                #shapesPanel {
                    .panel-title {
                        color: #6B6B70;
                        font-size: 16px;
                        line-height: 19px;
                        border-bottom: 1px solid #6B6B70;
                        padding: 0 8px;
                        margin-bottom: 20px;
                    }

                    .collapse-panel {
                        .collapsedPanel-head {
                            &::before {
                                content: '';
                                position: absolute;
                                left: 10px;
                                top: 35%;
                                transform: rotate(-45deg);
                                width: 6px;
                                height: 6px;
                                border-bottom: 2px solid #434345;
                                border-right: 2px solid #434345;
                                transition: .3s;
                            }

                            position:relative;
                            padding: 10px 0 10px 32px;
                            border-bottom: 1px solid #F3F3F3;
                            cursor:pointer;
                        }

                        p {
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 18px;
                        }

                        .ReactCollapse--content {
                            .collapse-group {
                                .collapse-item {
                                    font-size: 12px;
                                    line-height: 18px;
                                    padding: 10px;
                                    display: block;
                                }

                                padding: 0;
                                display:block;
                            }

                            padding-left: 24px;
                        }
                    }

                    .collapse-panel[data-hidden="true"] {
                        .ReactCollapse--collapse {
                            transition: height .3s;
                        }
                    }

                    .collapse-panel[data-hidden="false"] {
                        .collapsedPanel-head {
                            &::before {
                                transform: rotate(45deg) !important;
                                transition: .3s;
                            }
                        }

                        .ReactCollapse--collapse {
                            transition: height .3s;
                        }
                    }



                    padding: 10px 14px;
                }

                #pagesPanel {
                    .collapse-panel {
                        position: relative;
                        overflow: visible;
                    }

                    .ReactCollapse--collapse {
                        position: absolute;
                        top: 55px;
                        left: 0;
                        right: 0;
                        z-index: 100;
                    }

                    .collapsedPanel-head {
                        &::before {
                            content: '';
                            position: absolute;
                            right: 24px;
                            top: 35%;
                            transform: rotate(-45deg);
                            width: 6px;
                            height: 6px;
                            border-bottom: 2px solid #434345;
                            border-right: 2px solid #434345;
                            transition: .3s;
                        }

                        position: relative;
                        padding:16px 24px;
                        font-size: 16px;
                        line-height: 19px;
                        color: #6B6B70;
                        cursor: pointer;
                    }

                    .collapse-panel[data-hidden="false"] {
                        .collapsedPanel-head {
                            &::before {
                                transform: rotate(45deg) !important;
                                transition: .3s;
                            }
                        }

                        .ReactCollapse--collapse {
                            transition: height .3s;
                        }
                    }

                    .ReactCollapse--content {
                        .collapseItem {
                            padding: 8px 24px;
                            cursor: pointer;
                        }

                        background-color: #fff;
                        box-shadow: 0px 0px 8px rgba(166, 171, 189, 0.24),
                        0px 6px 6px rgba(166, 171, 189, 0.4);
                        border-radius: 8px;
                    }

                    border-bottom: 2px solid #434345;
                }

                #layersPanel {
                    .panel-title {
                        .plus {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            padding: 8px;
                            cursor: pointer;
                        }

                        position: relative;
                        color: #6B6B70;
                        font-size: 16px;
                        line-height: 19px;
                        border-bottom: 1px solid #6B6B70;
                        padding: 0 8px 4px;
                        margin: 0 14px 20px;
                    }

                    .layer-container {
                        padding: 7px 0;
                        border-bottom: 1px solid #F3F3F3;
                    }

                    .layer {
                        .layer-icon {
                            display: flex;
                            align-items: center;
                            margin-right: 5px;
                            padding: 5px;
                            cursor: pointer;
                        }

                        .layer-title {
                            color: #6B6B70;
                        }

                        display: flex;
                        align-items: center;
                        padding:10px 18px;
                        background-color: #fff;
                        transition: background-color .1s;
                    }

                    .layer.current {
                        .layer-icon>svg path {
                            stroke: #fff !important;
                        }

                        .layer-title {
                            color: #fff;
                        }

                        background-color: #434345;
                        transition: background-color .1s;
                    }

                    padding: 10px 0;
                }

                overflow-x: scroll;
                background-color: #fff;
                border-right:1px solid v.$black;
                width: 100%;
            }

            .divider {
                background-color: transparent;
                position: relative;
                left: -5px
            }

            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            display:flex;
            align-items:stretch;

        }

        #workspace {
            #canvas {
                width: 500px;
                height: 300px;
                margin: 0 auto;
                background-color: #fff;
            }

            width: 100%;
            background-color: #ccc;
        }

        #rightPanelBar {
            .content {
                overflow-x: scroll;
                background-color: #fff;
                width: 100%;
            }

            #objectPropertiesPanel {
                .panel-title {
                    .plus {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        padding: 8px;
                        cursor: pointer;
                    }

                    position: relative;
                    color: #6B6B70;
                    font-size: 16px;
                    line-height: 19px;
                    border-bottom: 1px solid #6B6B70;
                    padding: 0 8px 4px;
                    margin: 0 14px 20px;
                }

                .property {
                    .property-title {
                        width: 50%;
                        color: #6B6B70;
                    }

                    .property-value {
                        width: 50%;
                        color: #6B6B70;
                    }

                    font-size: 12px;
                    color:#6B6B70;
                    display: flex;
                    align-items: center;
                    padding:10px 18px;
                    border-bottom: 1px solid #F3F3F3;
                    background-color: #fff;
                    transition: background-color .1s;
                }



                padding: 10px 0;
            }

            #graphicalPropertiesPanel {
                .panel-title {
                    color: #6B6B70;
                    font-size: 16px;
                    line-height: 19px;
                    border-bottom: 1px solid #6B6B70;
                    padding: 0 8px 4px;
                    margin: 0 14px 20px;
                }

                .property {
                    .property-title {
                        width: 50%;
                        color: #6B6B70;
                    }

                    .property-value {
                        width: 50%;
                        color: #6B6B70;
                    }

                    font-size: 12px;
                    color:#6B6B70;
                    display: flex;
                    align-items: center;
                    padding:10px 18px;
                    border-bottom: 1px solid #F3F3F3;
                    background-color: #fff;
                    transition: background-color .1s;
                }

                padding: 10px 0;
            }


            position: absolute;
            top: 0;
            right:0;
            bottom: 0;
            display:flex;
            align-items:stretch;
            width:300px;
            min-width: 300px;
            max-width:300px;
            border-left:1px solid v.$black;
        }

        .divider {
            cursor: col-resize;
            width: 10px;
            background-color: #fff;
        }

        .react-page-split__divider--vertical {
            cursor: row-resize;
            height: 1px;
            border-top: 5px solid #fff;
            border-bottom: 5px solid #fff;
            background: #434345;
        }

        display: flex;
        align-items: stretch;
        width: 100%;
    }

    height: 100vh;
    display: flex;
    align-items: stretch;
    position: relative;
}