#projects-tab {
    display: flex;
    background-color: $background;
    flex-direction: column;
    height: calc(100vh - 122px);
    width: 100%;
    gap: 24px;
    position: relative;

    .disabled {
        pointer-events: none;
        opacity: 0.7;
    }

    #navigation {
        display: flex;
        flex-direction: row;
        height: fit-content;
        width: fit-content;
        max-width: calc(80vw - 184px);

        .group-navigation-button-group {
            display: flex;
            height: fit-content;
            flex: 0 0 8vw;
            gap: 8px;

            .navigation-button {
                font-size: 12px;
                cursor: pointer;
                background: $background;
                border: 2px solid $lightblue;
                border-radius: 15px;
                width: 3vw;
                height: 5vh;
                display: flex;
                align-items: center;
                justify-content: center;
                stroke: $lightblue;

                &:hover {
                    background: linear-gradient(0deg, $blue, $blue);
                    stroke: $white;
                    transition: background .2s
                }
            }
        }

        .groups-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            flex: 0 0 calc(72vw - 184px);

            .group-name {
                cursor: pointer;
                flex-basis: max-content;
                padding-left: 3px;
                padding-top: 1vh;
                font-size: 20px;
                font-weight: 500;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .start-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);

        .text {
            // position: fixed;
            width: fit-content;
            // left: 41vw;
            // top: 36vh;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;

            color: $black;
            margin-bottom: 16px;
        }

        // .text-transformed {
        //     animation: fadeOut .3s linear forwards;

        //     @keyframes fadeIn {
        //         0% {
        //             opacity: 1;
        //         }

        //         100% {
        //             opacity: 0;
        //         }
        //     }
        // }

        .add-btn-group {
            // position: absolute;
            display: flex;
            gap: 16px;
            // right: 50%;
            // top: 50%;
            // transform: translate(-50%, -50%);
            // width: fit-content;
            // height: 5vh;
            // top: 45vh;
            // left: 45vw;

            #add-btn-project {
                font-size: 40px;
                cursor: pointer;
                background: $lightblue;
                border: none;
                color: $white;
                border-radius: 15px;
                width: 6vw;
                height: 5vh;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: linear-gradient(0deg, $blue, $blue);
                    color: $white;
                    transition: background .2s
                }
            }

            #add-btn-group {
                font-size: 40px;
                cursor: pointer;
                background: $background;
                border: 2px solid $lightblue;
                border-radius: 15px;
                width: 6vw;
                height: 5vh;
                display: flex;
                align-items: center;
                justify-content: center;
                stroke: $lightblue;

                &:hover {
                    background: linear-gradient(0deg, $blue, $blue);
                    stroke: $white;
                    transition: background .2s
                }
            }
        }

        &.transformed {
            transform: translate(0);
            top: 0;
            right: 0;
            transition-duration: 1.2s;

            .text {
                animation: fadeOut .3s linear forwards;

                @keyframes fadeIn {
                    0% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 0;
                    }
                }
            }
        }

        // .add-btn-group-transformed {
        // transform: translate(0);
        // top: 0;
        // right: 0;
        // transition-duration: 1.2s;
        // }
    }

    #projects-cards-container {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        // gap: 24px;
        width: 100%;
        background-color: $background;
    }
}