#projectsTab {
    display: flex;
    background-color: $background;
    flex-direction: column;
    height: calc(100vh - 122px);
    width: calc(100vw - 184px);
    gap: 24px;

    .disabled
    {
        pointer-events: none;
        opacity: 0.7;
    }

    .startMenu {
        .text {
            position: fixed;
            width: fit-content;
            left: 41vw;
            top: 36vh;
    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
    
            color: $black;
        }
    
        .text-transformed {
            transform: translate(-33vw, -27vh);
            transition-duration: 0.5s;
        }
    
        .add-btn-group {
            position: fixed;
            display: flex;
            gap: 16px;
            width: fit-content;
            height: 5vh;
            top: 45vh;
            left: 45vw;

            #add-btn-project {
                font-size: 40px;
                cursor: pointer;
                background: $lightblue;
                border: none;
                color: $white;
                border-radius: 15px;
                width: 6vw;
                height: fill;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: linear-gradient(0deg, $blue, $blue);
                    color: $white;
                    transition: background .2s
                }
            }

            #add-btn-group {
                font-size: 40px;
                cursor: pointer;
                background: $background;
                border: 2px solid $lightblue;
                border-radius: 15px;
                width: 6vw;
                height: fill;
                display: flex;
                align-items: center;
                justify-content: center;
                stroke: $lightblue;

                &:hover {
                    background: linear-gradient(0deg, $blue, $blue);
                    stroke: $white;
                    transition: background .2s
                }
            }
        }
    
        .add-btn-group-transformed {
            transform: translate(-10vw, -36vh);
            transition-duration: 1.2s;
        }

        .group-navigation-button-group {
            position: fixed;
            display: flex;
            gap: 16px;
            width: fit-content;
            height: 5vh;
            top: 10vh;
            right: 15vw;
        }
    }


    #project-card-container {
        display: flex;
        flex-direction: row;
        overflow: auto;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 5vh;
        width: calc(100vw - 154px);
        background-color: $background;
    }
}