#projectPage {
    @import "parts";

    main {
        display: flex;
        align-items: stretch;
        width: 100%;
        height: 100%;
        position: relative;

        .react-page-split__divider--horizontal {
            cursor: col-resize;
            flex-basis: 0px;
            background: transparent;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                transform: translateX(-50%);
                width: 10px;
                height: 100%;
                background-color: transparent;
                z-index: 100;
            }

        }
    }

    height: calc(100vh - $headerHeight);
}