@import '../../common/styles/variables';
@import '../../common/styles/global.scss';

#loginPage {
    header {
        .container {
            .nav-bar {
                .logo-block {
                    .logo {
                        img {
                            max-width: 100%;
                        }

                        margin-right:24px;
                    }

                    p {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.1em;
                    }

                    display: flex;
                    align-items:center;
                }

                .nav-block {
                    li.react-tabs__tab {
                        display: inline-block;
                        position: static;
                        list-style: none;
                        padding: 0;
                        cursor: pointer;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        color: $black;
                        outline: none;
                        margin-right: 16px;
                        padding-bottom: 8px;
                        border-bottom: 2px solid transparent
                    }

                    li.react-tabs__tab--selected {
                        border-color: $blue;
                    }

                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        padding: 0;
                    }

                    display: flex;
                    align-items: center;
                    width:50%;
                    max-width: 870px;
                }

                .lang-block {
                    button {
                        @include button-default;
                        cursor: pointer;
                    }

                    .current {
                        border-bottom: 2px solid $blue;
                        transition: border-bottom .2s;
                    }

                    display: flex;
                    align-items: center;
                }

                display: flex;
                justify-content: space-between;
            }

            padding: 40px 100px 0;
        }
    }

    main {
        .container {
            .image-block {
                img {
                    max-width: 100%;
                    height: auto;
                    max-height: 670px;
                }

                width: 55%;
                max-height:600px;
                padding-right: 60px;
                text-align: center;
            }

            .content-block {
                h1 {
                    font-size: 40px;
                    line-height: 48px;
                    letter-spacing: 0.04em;
                    text-align: center;
                    margin-bottom: 56px;
                }

                .react-tabs {
                    -webkit-tap-highlight-color: transparent;
                    height: 300px;
                }

                .react-tabs__tab-list {
                    margin-bottom: 32px;
                    padding: 0;
                }

                .react-tabs__tab {
                    display: inline-block;
                    border-bottom: 5px solid $white;
                    bottom: -1px;
                    position: relative;
                    list-style: none;
                    padding: 0 0 16px;
                    width: 50%;
                    text-align: center;
                    font-size: 22px;
                    cursor: pointer;
                }

                .react-tabs__tab--selected {
                    border-color: $lightblue;
                    color: $lightblue;
                }

                .react-tabs__tab:focus {
                    outline: none;
                }

                .react-tabs__tab-panel {
                    animation: fadeOut .3s linear 1 normal running 0s both;
                    display: none;

                    @keyframes fadeOut {
                        0% {
                            opacity: 1;
                        }

                        50% {
                            opacity: 0.5;
                        }

                        100% {
                            opacity: 0;
                        }
                    }
                }

                .react-tabs__tab-panel--selected {
                    animation: fadeIn .3s linear 1 normal running 0s both;
                    display: block;

                    @keyframes fadeIn {
                        0% {
                            opacity: 0;
                        }

                        50% {
                            opacity: 0.5;
                        }

                        100% {
                            opacity: 1;
                        }
                    }
                }

                .form-input-block {
                    a {
                        font-size: 14px;
                        line-height: 17px;
                        padding-top: 8px;
                        color: rgba(23, 109, 234, 0.8);
                    }

                    small {
                        color: red;
                    }

                    margin-bottom:16px;
                }

                .form-input {
                    label {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-70%);
                        font-size: 16px;
                        color: $gray;
                        transition: top .2s, font-size .2s;
                    }

                    input {
                        &:focus {
                            color: $dark;
                            border-color: $lightblue;
                            outline: 0;
                        }

                        &:not([value=""])+label,
                        &:hover+label {
                            top: 0px;
                            font-size: 12px;
                            transition: top .2s, font-size .2s;
                        }

                        display: block;
                        width: 100%;
                        padding: 8px 0px;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: $darkgray;
                        background-color: transparent;
                        border: none;
                        border-bottom: 2px solid $lightgray;
                        transition: border-color .2s;
                    }

                    position: relative;
                }

                .btn {
                    &:hover {
                        color: $dark;
                        text-decoration: none
                    }

                    display: inline-block;
                    font-weight: 700;
                    color: $dark;
                    text-align: center;
                    background-color: transparent;
                    border: 1px solid transparent;
                    padding: 8px 16px;
                    font-size: 14px;
                    line-height: 1.5;
                    border-radius: 4px;
                    transition: color .2s,
                    background-color .2s,
                    border-color .2s;
                    cursor:pointer;
                }

                .btn-blue {
                    &:hover {
                        background: linear-gradient(0deg, $blue, $blue);
                        color: $white;
                        transition: background .2s
                    }

                    background: linear-gradient(0deg, $lightblue, $lightblue);
                    color: $white;
                    padding:16px 76px;
                    border-radius:5px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: 0.1em;
                }

                width: 45%;
                padding-left:60px;
                max-width: 456px;
            }

            display:flex;
            align-items:center;
            padding: 0px 100px;
        }
    }

    @media all and (max-height: 805px) {
        .image-block {
            img {
                width: 70% !important;
            }
        }
    }

    height: 100vh;
    background-color:$background;
}