#objectPropertiesPanel {
    height: 100%;
    padding: 10px 0;

    @include custom-scrollbar;

    .panel-title {
        position: relative;
        color: $darkgray;
        font-size: 16px;
        line-height: 19px;
        border-bottom: 1px solid $bluegray;
        padding: 0 8px 4px;
        margin: 0 14px 20px;

        .plus {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 8px;
            cursor: pointer;
        }
    }


    .panel-content {
        height: 100%;
        overflow-y: auto;
    }
}