$pages-panel-height: 53px;

#leftPanelBar {
    .content {
        @import "panels";

        .react-page-split__panel {
            overflow-y: hidden;
        }

        .react-page-split__divider--vertical {
            cursor: row-resize;
            height: 1px;
            border-top: 5px solid $white;
            border-bottom: 5px solid $white;
            background: $dark;
        }

        overflow-x: scroll;
        background-color: $white;
        border-right:1px solid $black;
        width: 100%;
    }

    .divider {
        cursor: col-resize;
        width: 10px;
        background-color: transparent;
        position: relative;
        left: -5px
    }


    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display:flex;
    align-items:stretch;
}