@import "projects";
@import "settings";
@import "user";

#userPage {
    display: flex;
    flex-direction: column;
    background-color: $background;

    .menu-bar {
        flex-basis: 58px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: $white;
        gap: 16px;

        .search-group {
            align-self: center;
            flex-basis: 36vw;
            margin-left: 148px;

            .search-input {
                width: 40vw;
                height: 40px;

                background-color: $darkgray;
                border: none;
                border-radius: 16px;

                text-align: center;
                padding-left: 16px;
                padding-right: 16px;
                color: $lightgray;
                font-size: 18px;
                font-family: FontAwesome, 'Inter' !important;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;

                &:focus {
                    outline: none;

                    &::placeholder {
                        color: transparent;
                    }
                }

                &::placeholder {
                    color: $lightgray;
                    opacity: 1;
                }
            }
        }

        .user-group {
            flex-basis: 60vw;
            display: flex;
            flex-direction: row-reverse;
            gap: 16px;
            align-items: center;
            margin-right: 20px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-top: 2px;
                padding: 2px;
                border: 2px solid $lightblue;
            }

            .arrow {
                @include button-default;
                cursor: pointer;
                padding: 4px 8px;
            }

            .user-name {
                font-size: 18px;
                font-family: 'Inter';
                max-width: 25vw;
                margin-left: 16px;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .main-menu {
            position: fixed;
            top: 50px;
            right: 12px;
            z-index: 1000;

            .panel-menu {
                background: $dark;
                padding: 12px;
                box-shadow: 0px 20px 34px rgba(85, 82, 95, 0.06);
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                width: fit-content;
                min-width: 7vw;

                .menu-text {
                    color: $white;
                    cursor: pointer;
                    line-height: normal;
                    font-size: 14px;
                    font-weight: 500;

                    &:hover {
                        color: $gray;
                    }
                }

                .separator {
                    color: darkgray;
                    margin-top: 4px;
                    margin-bottom: 4px;
                }
            }
        }

        .notification-menu-container {
            position: fixed;
            z-index: 1000;

            .notification-menu-tail {
                position: fixed;
                top: 55px;
                z-index: 1000;

                width: 0;
                height: 0;

                border-left: 16px solid transparent;
                border-right: 16px solid transparent;

                border-bottom: 16px solid $dark;
            }

            .notification-menu {
                position: fixed;
                top: 70px;
                z-index: 1000;

                .panel-notification {
                    background: $dark;
                    padding: 12px;
                    box-shadow: 0px 20px 34px rgba(85, 82, 95, 0.06);
                    border-radius: 15px;
                    width: fit-content;
                    min-width: 18vw;
                    overflow: auto;
                    flex-wrap: wrap;
                    max-height: 25vh;

                    .notification {
                        .separator {
                            color: darkgray;
                            margin-top: 4px;
                            margin-bottom: 4px;
                        }

                        .inviter-name {
                            font-weight: bold;
                            margin-right: 5px;
                        }

                        .project-name {
                            font-weight: bold;
                            margin-left: 5px;
                        }

                        .button-group {
                            display: flex;
                            flex-direction: row-reverse;
                            margin-top: 6px;
                            margin-bottom: 6px;

                            .decline-button {
                                font-size: 14px;
                                cursor: pointer;
                                background: $dark;
                                border: 2px solid $darkgray;
                                border-radius: 15px;
                                width: 4vw;
                                height: 3vh;
                                margin-right: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $darkgray;

                                &:hover {
                                    background: linear-gradient(0deg, $darkgray, $darkgray);
                                    stroke: $white;
                                    transition: background .2s
                                }
                            }

                            .accept-button {
                                font-size: 14px;
                                cursor: pointer;
                                background: $dark;
                                border: 2px solid $white;
                                border-radius: 15px;
                                width: 4vw;
                                height: 3vh;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $white;

                                &:hover {
                                    background: linear-gradient(0deg, $darkgray, $darkgray);
                                    stroke: $white;
                                    transition: background .2s
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .main-row {
        height: calc(100vh - 124px);
        display: flex;
        padding: 32px 20px;
        overflow: hidden;

        .tab-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            padding: 80px 0 24px;
            margin-right: 24px;
            list-style: none;
            background: $white;
            box-shadow: 0px 20px 34px rgba(85, 82, 95, 0.06);
            border-radius: 15px;

            .react-tabs__tab-list {
                padding: 0;

                .logo {
                    margin-bottom: 64px;
                }

                li.react-tabs__tab {
                    list-style: none;
                    padding: 30px;
                    cursor: pointer;
                    line-height: 20px;
                    color: $black;
                    outline: none;
                }

                .menu-icon path {
                    stroke: $darkgray;
                }

                li.react-tabs__tab--selected {
                    background-color: $lightblue;

                    .menu-icon {

                        path {
                            stroke: $white;
                        }
                    }
                }
            }

            .logout {
                width: 80px;
                height: 51px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $white;
                border-radius: 10px;

                path {
                    stroke: $darkgray;
                }
            }

            .logout:hover {
                background-color: $background;
            }
        }

        .tab-panel {
            flex-grow: 1;
            height: 100%;
            overflow-y: hidden;
            @include custom-scrollbar;

            .react-tabs__tab-panel {
                overflow-y: auto;
            }
        }


    }
}