@import "projects";
@import "settings";
@import "user";

#userPage {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: $background;

    .menu-bar {
        flex-basis: 58px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: $white;
        gap: 16px;

        .search-group {
            align-self: center;
            flex-basis: 36vw;
            margin-left: 148px;

            .search-input {
                width: 40vw;
                height: 40px;

                background-color: $darkgray;
                border: none;
                border-radius: 16px;
    
                text-align: center;
                padding-left: 16px;
                padding-right: 16px;
                color: $lightgray;
                font-size: 18px;
                font-family: FontAwesome, 'Inter' !important;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
    
                &:focus {
                    outline: none;
                    &::placeholder {
                        color: transparent;
                    }
                }

                &::placeholder{
                    color: $lightgray;
                    opacity: 1;
                }
            }
        }

        .user-group {
            flex-basis: 60vw;
            display: flex;
            flex-direction: row-reverse;
            gap: 16px;
            align-items: center;
            margin-right: 20px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-top: 2px;
                padding: 2px;
                border: 2px solid $lightblue;
            }

            .user-name {
                font-size: 18px;
                font-family: 'Inter';
                max-width: 25vw;
                margin-left: 16px;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .main-menu {
            position: fixed;
            top: 50px;
            right: 12px;

            .panel-menu {
                background: $dark;
                padding: 12px;
                box-shadow: 0px 20px 34px rgba(85, 82, 95, 0.06);
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                width: fit-content;
                min-width: 7vw;

                .menu-text {
                    color: $white;
                    cursor: pointer;
                    line-height: normal;
                    font-size: 14px;
                    font-weight: 500;

                    &:hover {
                        color: $gray;
                    }
                }

                .separator {
                    color: darkgray;
                    margin-top: 4px;
                    margin-bottom: 4px;
                }
            }
        }
    }

    .main-row {
        height: calc(100vh - 90px);
        display: flex;
        gap: 32px;

        .tab-menu {
            display: flex;
            flex-direction: column;

            margin-left: 20px;
            margin-bottom: 32px;
            flex-basis: 90px;
            list-style: none;
            background: $white;
            box-shadow: 0px 20px 34px rgba(85, 82, 95, 0.06);
            border-radius: 15px;

            .logo {
                margin-top: 82px;
                margin-left: -15px;
            }

            li.react-tabs__tab {
                list-style: none;
                padding: 0;
                cursor: pointer;
                line-height: 20px;
                color: $black;
                outline: none;
                margin-left: -10px;
                margin-top: 45px;
            }

            .rectangle {
                padding-top: 25px;
                height: 60px;

                .menu-icon path {
                    stroke: $darkgray;
                }
            }

            li.react-tabs__tab--selected > .rectangle {
                background-color: $lightblue;
                margin-left: -30px;
                padding-top: 25px;
                height: 60px;

                .menu-icon {
                    margin-left: 28px;

                    path {
                        stroke: $white;
                    }
                }
            }
    
            .logout {
                width: 80px;
                height: 51px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $white;
                border-radius: 10px;
                margin-top: 240%;
                margin-left: 10%;

                path {
                    stroke: $darkgray;
                }
            }
    
            .logout:hover {
                background-color: $background;
            }
        }

        .tab-panel {
            flex-grow: 1;
            margin-right: 20px;
        }
    }
}